<!-- card controller  -->
<div ng-include="'views/partials/nav.html'"></div>
<div class="container" md-padding layout="column" flex>
  <!-- <div layout="column" md-padding> <h1 class="lead">Add a card</h1> </div> -->


  <form ng-submit="cc.addACard()">
    <md-card>
      <md-card-title>
        <md-card-title-text class="md-headline">
          Add a card
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <md-input-container>
          <label>Type: </label>
          <md-select ng-model="card.type">
            <md-option><em>None</em></md-option>
            <md-option style="color: blue" ng-repeat="type in cc.types" ng-value="type">
              {{ type }}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>

      <md-card-content class="padding">
        <md-input-container>
          <label>Description:</label>
          <textarea style="color: blue" name="description" ng-model="cc.description" required md-maxlength="1000" rows="3" cols="60"></textarea>
          <div ng-messages="userForm.bio.$error" ng-show="userForm.bio.$dirty">
            <div ng-message="required">Shiver me timbers! Write something!</div>
            <div ng-message="md-maxlength">Look! There's a novel on the portside deck! Less is more, matey.</div>
          </div>
      </md-card-content >
      <md-card-content class="morepadding">
        <md-button type="button" ng-click="cc.pick()">Add image</md-button>
        <!-- <img ng-src="{{cc.url.url}}" style="width: 20px;"> -->
      </md-card-content>

      <md-card-title class="morepadding">
        <md-checkbox ng-model="cc.savetopirateverse" aria-label="Save to Pirateverse?">
          <p>Save to pirateverse? <span style="color: blue" ng-if="cc.savetopirateverse"> Of course, matey!</span>
            <span style="color: blue" ng-if="!cc.savetopirateverse"> Good heavens, no!</span></p>
        </md-checkbox>
      </md-card-title>
      </md-card-content>

      <md-card-content class="morepadding">
        <md-button type="button" class="md-raised md-primary" ng-click="cc.cardService.addACard(card.type, cc.description, cc.url.url, cc.savetopirateverse)">Save</md-button>
      </md-card-content>

      <!-- <md-button ng-click="cc.logUrl()">logUrl</md-button> -->
      <!-- </md-card-title-text> -->
    </md-card>
  </form>

</div>