<div ng-include="'views/partials/nav.html'"></div>

<!-- search, my library, pirateverse, settings -->

<div layout="column" class="md-inline-form">

  <md-content md-theme="docs-dark" layout-padding layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
    <div flex layout-align="center center" md-padding>
      <h2 class="lead">Browse cards</h2>
    </div>
    <div class="morepadding" layout-align="center center">
      <md-input-container>
        <input ng-model="vm.searchText" placeholder="search">
      </md-input-container>
      <md-button ng-href="#/add" class="md-icon-button" aria-label="Menu">
        <md-icon class="md-48">add</md-icon>
      </md-button>

    </div>
    <div flex></div>
  </md-content>
</div>

<!-- MY CARDS PIRATEVERSE MY FAVORITES  -->
<md-content id="myCards">
  <!-- <div flex="30" layout-align="start center"></div> -->
    <section layout="row" layout-align="center center" layout-wrap layout-xs="column" layout-sm="column">
      <!-- change getuserscards to get mylibrary cards -->
      <md-button ng-click="vm.cardService.getUsersCards(); 
    vm.cardService.myCards=true; 
    myFavorites=false; 
    pirateverse=false;
    " class="md-raised" ng-class="{'md-primary' : vm.cardService.myCards}">My Cards</md-button>
      <md-button ng-click="vm.cardService.getMyFavorites(); 
    vm.cardService.myCards=false; myFavorites=true; pirateverse=false;
    " class="md-raised" ng-class="{ 'md-primary': myFavorites }">My Favorites</md-button>
      <md-button ng-click="vm.cardService.getCards();
    vm.cardService.myCards=false; myFavorites=false; pirateverse=true;
    " class="md-raised" ng-class="{ 'md-primary': pirateverse }">Pirateverse</md-button>
    </section>

    <section layout="row" layout-align="center center" layout-wrap layout-xs="column" layout-sm="column">

      <md-checkbox ng-model="color" aria-label="Color cards">
        <p>Color coded? <span style="color: blue" ng-if="color"> Aye!</span>
          <span style="color: blue" ng-if="!color"> Nooooo</span></p>
      </md-checkbox>
    </section>
</md-content>

<!-- CARDS non edit mode  -->


<md-content layout-wrap layout="row" layout-xs="column" flex >
  <div  class="browse-card" ng-repeat="card in vm.cardService.cards.list | filter:vm.searchText" layout-align="start">
    <md-card  layout="column" ng-class="card.class" class=" md-primary" md-theme="{{ color? card.type : 'default' }}" >
      <div ng-show="!editCard">
        <md-card-title class="padding">
          <md-card-header>
            <md-card-title-text>{{vm.cardService.class.class}}
              <span class="md-title">Type: <span class="md-subhead">{{ card.type }}</span></span>
              <span class="md-title">Description: <span class="md-subhead">{{card.description }}</span></span>
              <span ng-show="vm.cardService.showMyCardsActions ">Save to pirateverse? <span ng-if="card.savetopirateverse">Of course, matey!</span>
              <p ng-if="!card.savetopirateverse">Good heavens, no!</p>
              </span>
            </md-card-title-text>
          </md-card-header>
        </md-card-title>

        <md-card-title class="card-image padding">
          <img ng-hide="!card.url" ng-src="{{card.url}}" style="height: 200px; max-width: 200px;">
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center" class="padding">
          <!-- pirateverse: add / favorite button -->
          <!-- My Deck: remove button -->
          <md-button ng-show="vm.cardService.showPirateverseActions" ng-click="vm.cardService.addToMyDeck(card._id);">
            add
            <md-icon class="md-48" aria-label="add to my deck">add</md-icon>
          </md-button>
          <md-button ng-show="vm.cardService.showMyFavoritesActions" class="" ng-click="vm.cardService.removeCard(card._id)">
            remove
            <md-icon class="md-48" aria-label="remove from my deck">remove</md-icon>
          </md-button>
        </md-card-actions>
        <md-card-actions ng-show="vm.cardService.showMyCardsActions" layout="row" layout-align="end center" class="padding">
          <md-button class="md-icon-button" ng-click="editCard = !editCard; vm.selectedCard = card;">
            <md-icon class="md-48">edit</md-icon>
          </md-button>
          <md-button class="md-warn md-icon-button" ng-click="vm.cardService.deleteCard(card._id)"><i aria-label="delete" class="material-icons" style="font-size:24px;">delete</i>
            <md-icon class="md-48">delete</md-icon>
          </md-button>
        </md-card-actions>
      </div>

      <!-- *** MY CARDS EDIT mode  *** -->
      <div ng-show="editCard">
        <form>
          <md-card-title>
            <md-input-container>
              <label>Type: </label>
              <md-select ng-model="card.type">
                <md-option><em>None</em></md-option>
                <md-option ng-repeat="type in vm.types" ng-value="type">
                  {{ type }}
                </md-option>
              </md-select>
            </md-input-container>
          </md-card-title>

          <md-card-title class="morepadding">
            <md-input-container>
              <label>Description:</label>
             
              <textarea style="color: blue" name="description" ng-model="card.description" rows="3" cols="60"></textarea>
              <div>
                <div class="md-subhead red pulse" ng-show="cc.description.length == 0">Shiver me timbers! Write something!</div>
                <div ng-show="cc.description.length > 50 && cc.description.length < 90" class="md-subhead red animated text bounceInDown">Look! There's a novel on the portside deck! Less is more, matey.</div>
                <div class="md-subhead red animated text bounceInUp" ng-show="cc.description.length > 100 && cc.description.length < 140">Keep this up, and we'll have to hunt some squid.  For the ink.</div>
                <div class="md-subhead red animated text bounceInDown" ng-show="cc.description.length > 150">OK, we're leaving without you, mate!</div>
                
              </div>

            </md-input-container>
          </md-card-title>

          <md-card-title class="morepadding">
            <md-checkbox ng-model="card.savetopirateverse" aria-label="Save to Pirateverse?">
              <p>Save to pirateverse? <span style="color: blue" ng-if="card.savetopirateverse"> Of course, matey!</span>
                <span style="color: blue" ng-if="!card.savetopirateverse"> Good heavens, no!</span></p>
            </md-checkbox>
          </md-card-title>
          </md-card-title>

          <md-card-title class="morepadding">
            <!-- <md-input-container>
                <label for="url">Image URL:</label>
                <input type="url" ng-model="card.url" />
              </md-input-container> -->
            <md-button type="button" ng-click="vm.cardService.pick()">Add image</md-button>
            <!-- <img ng-src="{{cc.url.url}}" style="width: 20px;"> -->
          </md-card-title>
          
          <div layout="row" layout-align="end center">
            <md-button class="md-icon-button" ng-click="vm.cardService.updateACard(card); editCard = !editCard">
              <md-icon class="md-48" aria-label="add to my deck">done</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="editCard = !editCard">
              <md-icon class="md-48" aria-label="add to my deck">undo</md-icon>
            </md-button>
          </div>
        </form>
      </div>
    </md-card>
  </div>
</md-content>

<div layout="row" layout-align="center center">
  <md-button ng-click="vm.cardService.loadMore()" ng-show="vm.cardService.showPirateverseActions" ng-class="primary">Load more</md-button>
</div>