<div ng-include="'views/partials/nav.html'"></div>

<h1 class="lead">Browse cards</h1>

{{vm.cards.list[2]}}
<md-content class="md-padding" layout="row">
  <!-- <div flex> -->
      <!-- style="height: 200px; max-width: 200px" -->
    <img  ng-src="{{vm.cards.list[2].url}}"  />
    <md-card ng-repeat="card in vm.cards.list" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Type: {{ card.type }}</span>
          <span class="md-subhead">Description: {{card.description }}</span>
        </md-card-title-text>
        <md-card-title-media>
          <!-- <div class="md-media-md card-media"></div> -->
          <img  ng-src="{{card.url}}" style="height: 200px; max-width: 200px" >
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Edit</md-button>
        <md-button ng-click="vm.deleteCard()">Delete</md-button>
      </md-card-actions>
    </md-card>
    <!-- <div layout layout-padding layout-align="center end" style="height:200px">
      <md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>
    </div> -->

  <!-- </div> -->
</md-content>