<md-content class="">
  <div style='color: white;' id="background" class="login" layout="column" layout-align="start center">
    <h1 class="md-headline">RegistArrr!</h1>
    <h2 class="md-subhead" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>

    <form ng-submit="lc.registerUser()">
      <div layout="column">
       
          <md-input-container>
            <label for="username" style="color: white;">Username:</label>
            <input type="text" ng-model="lc.user.username" />
          </md-input-container>
       

        <md-input-container class="padding">
          <label for="password" style="color: white;">Password:</label>
          <input type="password" ng-model="lc.user.password" />
        </md-input-container>
        <md-input-container class="padding">
          <label for="password" style="color: white;">Re-enter password:</label>
          <input type="password" ng-model="lc.user.passwordConfirm" />
        </md-input-container>
        <div class="padding" class="raised md-primary">
          <md-button type="submit">
            submit
          </md-button>
          <md-button ng-href="#login">Cancel</md-button>
        </form>
    </div>
    <img src="pirate-story.png" class="login-image" layout-align="start center" />
    
</md-content>

