<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <section layout="row" layout-phone="column" layout-align="center center">
        <md-button ng-href="#/story" class="md-raised md-primary ">New Story from your cards</md-button>
        <md-button ng-click="uc.cardService.pirateverse = true;" ng-href="#/story" class="md-raised md-primary">New Story from Pirateverse</md-button>
        <md-button ng-href="#/edit" ng-disabled="false" class="md-raised md-accent ">Browse Cards</md-button>
        <md-button ng-href="#/addacard" class="md-raised md-accent">Add a card</md-button>
    </section>
</div>